<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">My watch lists</h2>
  <%= link_to new_list_path, class: 'btn btn-primary btn-create-list' do %>
    <i class="bi bi-plus-lg"></i> Create new list
  <% end %>
</div>

<div class="d-flex flex-wrap gap-3">
  <% @bookmarks.each do |bookmark| %>
    <div class="card p-3" style="width: 40rem;">
      <%= bookmark.movie.poster_url %>
      <p><strong><%= bookmark.movie.title %></strong></p>
      <p><%= bookmark.movie.overview %></p>
      <p>Movie rating: <%= bookmark.movie.rating %></p>
      <p>- "<%= bookmark.comment %>"</p>
      <%= link_to 'Delete', list_bookmark_path(@list, bookmark.id),
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                  class: "btn btn-danger" %>
      <br>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Back to all lists', lists_path, class:'btn btn-primary mt-5' %>
</div>
